.configuration-container {
  padding: 25px;
  .highlight-endpoint {
    font-weight: bold;
  }
  .hosted-by-label {
    font-size: 12px;
    color: gray;
  }
  .add-network-button{
    color: @primary-color;
  }
  .networks-table{
    .ant-table-expanded-row.ant-table-expanded-row-level-1>.ant-table-cell{
      background-color: lightgray;
    }

  }
}