.xcm-container {
  padding: 25px;

  .col-form-item {
    min-width: 170px;

    .ant-input-number {
      min-width: 170px;
    }
  }

  .ant-form-item-explain.ant-form-item-explain-error {
    font-size: 12px;
  }

  .message-sent-container {
    font-size: 11px;
    width: 100%;
    height: 220px;
    overflow: auto;
    border: solid 1px gray;
    resize: vertical;
  }

  .result-description {
    font-weight: bold;
    font-size: 15px;
  }
}
