.xcm-container {
  padding: 25px;

  .col-form-item {
    min-width: 170px;

    .ant-input-number {
      min-width: 170px;
    }
  }

  .ant-form-item-explain.ant-form-item-explain-error {
    font-size: 12px;
  }

  .result-description {
    font-weight: bold;
    font-size: 15px;
  }
}
